<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    {% block head %}

    {% endblock head%}

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/MV_logo3.png') }}">
</head>

<body>

<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='img/MV_logo3.png') }}" alt="" width="40" height="40">
                MailVine
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <div class="col-4"></div>
                <ul class="navbar-nav me-auto mb-2 mb-md-0 fs-5 text">
                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" href="{{ url_for('index') }}">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Pricing</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Contact</a>
                    </li>

                </ul>
                {% if current_user.is_authenticated %}
                <a class="btn btn-outline-success" href="{{ url_for('dashboard') }}" role="button">Dashboard</a>
                <a class="btn btn-outline-danger" href="{{ url_for('logout') }}" role="button">Log Out</a>

                {% else %}
                <a class="btn btn-outline-success" href="{{ url_for('login') }}" role="button">Log in</a>
                <a class="btn btn-outline-secondary" href="{{ url_for('register') }}" role="button">Register</a>

                {% endif %}
            </div>
        </div>
    </nav>
</header>


<!-- Sends message of success or error and shows it accordingly -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class=" container alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}


{% block body %}
<!-- BODY HERE -->
{% endblock body%}



<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

</body>

</html>