{% extends "dashboard_layout.html" %}

{% block head %}

<title>Dashboard | MailVine</title>

{% endblock head %}


{% block body %}

<main class="container">

    <div class="pt-5 text-center">
        <h1>Welcome {{ current_user.first_name }}</h1>
        <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia quo modi fugiat harum maxime quis
            commodi iste. Natus ducimus, vel, laboriosam dicta veritatis laudantium sed adipisci, modi dolore cupiditate
            rerum.</p>
    </div>

</main>

{%endblock body%}