{% extends "base.html" %}

{% block head %}
<title>Login | MailVine</title>

<link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
{% endblock head%}


{% block body %}

<main class="form-signin pt-5" style="text-align:center">

    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <!-- generates a hidden field that includes a token that is used to protect the form against CSRF attacks-->
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Log In</legend>

            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-check">
                {{ form.remember_me(class="form-check-input") }}
                {{ form.remember_me.label(class="form-check-label") }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
        <small class="text-muted ml-2" >
            <a href="#">Forgot Password?</a>
        </small>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Don't have an Account? <a class="ml-2" href="{{ url_for('register') }}">Register</a>
        </small>
    </div>
<!--    <form>
        <img class="mb-4" src="{{ url_for('static', filename='img/MV_logo3.png') }}" alt="" width="100"
             height="100">
        <h1 class="h1 mb-3 fw-normal">Log In</h1>
        <label for="inputEmail" class="visually-hidden">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="visually-hidden">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="w-100 btn btn-lg btn-primary" type="submit">LOG IN</button>
        <a class="btn btn-link btn-sm" href="#" role="button">Forgot Password?</a>
        <p class="mt-4 mb-2 text-muted">Don't have an account?</p>
        <a class="btn btn-outline-secondary" href="{{ url_for('register') }}" role="button">Register</a>
    </form>-->
</main>

{% endblock body%}