{% extends "dashboard_layout.html" %}

{% block head %}

<title>Manage Lists| MailVine</title>

{% endblock head %}


{% block body %}

<main class="container">

    <div class="pt-5 text-center">
        <h1>Here are the lists you've created {{ current_user.first_name }}</h1>
    </div>
    <br>
    <div>
        <a class="btn btn-success" href="{{ url_for('new_list') }}" role="button">Create New List</a>
    </div>
    <br>

    {% for list in lists %}

        <article class="media content-section">
            <div class="media-body">
                <h3><a href="{{ url_for('list', list_id=list.id) }}" class="article-title">{{ list.name}}</a></h3>
                <br>
                <p class="article-content">{{ list.description }}</p>
            </div>
        </article>
    {% endfor %}
</main>

{%endblock body%}