{% extends "base.html" %}

{% block head %}
<title>Register | MailVine</title>

<link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
{% endblock head%}


{% block body %}

<main class="form-signin pt-5" style="text-align:center">
    <form action="" method="POST">
        {{ form.hidden_tag() }} <!-- generates a hidden field that includes a token that is used to protect the form against CSRF attacks-->
        <fieldset class="form-group">
            <legend class="border bottom mb-4">Create your MailVine Account</legend>
            {{ form. }}
        </fieldset>
    </form>

    <!--<form method="POST" action="">
        <img class="mb-4" src="{{ url_for('static', filename='img/MV_logo3.png') }}" alt="" width="72" height="72">
        <h1 class="h1 mb-3 fw-normal">Sign Up</h1>
        <h5 class="h4 mb-3 fw-normal">Enter Account Info</h5>

        <input type="text" id="FirstName" name="FirstName" class="form-control" placeholder="First name" aria-label="First name"  required autofocus>
        <input type="text" id="LastName" name="LastName" class="form-control" placeholder="Last name" aria-label="Last name" required autofocus>
        <label for="Email" class="visually-hidden">Email address</label>
        <input type="email" id="Email" name="Email" class="form-control" placeholder="Email address" required autofocus>
        <div>&nbsp;</div>
        <label for="Password" class="visually-hidden">Password</label>
        <input type="password" id="Password" name="Password" class="form-control" placeholder="Password"  required autofocus>
        <label for="ConfirmPassword" class="visually-hidden">Confirm Password</label>
        <input type="password" id="ConfirmPassword" class="form-control" placeholder="Confirm Password" required autofocus>
        <div class="form-check pb-1">
            <input class="form-check-input" type="checkbox" value="" id="Check" required autofocus>
            <label class="form-check-label" for="Check">
                I've read & accepted the <a class="btn btn-link" href="privacy_policy.html" role="button">Privacy
                Policy</a>
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-outline-primary" type="submit">Sign Up</button>

    </form>-->

</main>

{% endblock body %}